version: 2.1
jobs:
  checkout-to-workspace:
    docker:
      - image: mc18g13/rotary-inverted-pendulum-pico-build:latest
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
  build-pico:
    docker:
      - image: mc18g13/rotary-inverted-pendulum-pico-build:latest
    working_directory: ~/inverted-pendulum-pico
    steps:
      - run:
          name: compile
          command: |
            sh ./scripts/build.sh
workflows:
  checkout:
    jobs:
      - checkout-to-workspace
      - build-pico
